.App {
  --app-background-color:#02121b;
  background-color: var(--app-background-color);
  color: var(--white-color);
}
/* navbar css starts here */
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  padding: 0.5rem;
  font-size: 0.8rem;
}
.btn-text {
  color:inherit;
}
.i-text {
  border-radius: 0.31rem;
  padding: 0.5rem 0 0.5rem 1rem;

}
.search-wrapper {
  display: flex;
}
.navbar-input-search {
  min-width: 31rem;
  padding-left: 3rem;
}
.navbar {
  width: 90%;
  margin: auto;
  background-color: transparent;
  align-items: baseline;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.navbar-logo {
  display: flex;
  align-items: baseline;
  color: var(--primary-color-main);
  padding: 0 0.5rem 0 0;
}
.navbar-search {
  position: relative;
  width:8rem;
}
.nav-icon-wishlist {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: var(--white-color);
  cursor: pointer;
}
.navbar-cart {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-input {
  padding: 0.5rem 2rem 0.5rem 3rem;
  width: 100%;
}
.nav-icon {
  font-size: 1.5rem;
  padding: 0 0.3rem;
  cursor: pointer;
  
}
.wish-list {
  position: relative;
}
.cart-icon {
  position: relative;
}
.wish-counter {
  padding: 0.3rem;
  font-size: 0.7rem;
  line-height:0.7rem;
  background-color: var(--primary-color-main);
  color: var(--white-color);
  border-radius:50%;
  position: absolute;
  top: -13px;
  right: 0;
}
.nav-logo {
  padding: 0 0.5rem 0 0;
  font-size: 1.5rem;
}
.search-icon {
  position: absolute;
  top: 30%;
  left: 1rem;
  color: var(--black-color);
}
.primary {
  background-color: var(--primary-color-main);
}

.page-links {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  color:var(--white-color);
  background-color: var(--app-background-color);
  border: 1px solid var(--div-background-color);

}
.side-navbar-wrapper {
  display: none;
}
@media only screen and (min-width: 470px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
  .nav-icon {
    display: inline-block;
  }

  .navbar-logo {
    font-size: 1.1rem;
    padding: 0 0.5rem 0 0;
  }
  .nav-logo {
    font-size: 1.6rem;
  }
  .navbar-search {
    width: 10rem;
  }
}
@media only screen and (min-width: 570px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .navbar-logo {
    font-size: 1.2rem;
    padding: 0 0.5rem 0 0;
  }
  .nav-logo {
    font-size: 1.7rem;
  }
  .page-links {
    font-size: 1.2rem;
  }
  .navbar-search {
    width: 15rem;
  }
}
@media only screen and (min-width: 670px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
  }

  .navbar-logo {
    font-size: 1.3rem;
    padding: 0 0.5rem 0 0;
  }
}
@media only screen and (min-width: 850px) {
  .btn {
    padding: 0.5rem 1.3rem;
  }
  .navbar {
    width: 95%;
  }
  .navbar-search {
    width: 18rem;
  }
  .footer-nav {
    display: none;
  }
  .side-navbar-wrapper {
    display: flex;
    /* position:relative; */
  }
  .sidemenu-btn {
    position :absolute;
    top:5%;
    left: 5%;
  
  }
  .side-navbar-content {
    width: 12rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:1rem 2rem;
    height:100vh;
    border-right: 3px solid #e8ebec;
   
  }
  .sidebar-icon {
    padding: 0 2rem 0 0;
      font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    width: 95%;
  }
  .navbar-search {
    display: inline-block;
  }
  .side-navbar-content  {
    width:17rem
  }
  .navbar-search {
    width: 22rem;
  }
  .sidemenu-btn {
    top:6%;
    left: 7%;
  }
}
/* nav bar css ends here */
 /* user profile css start here */
 .profile-card-wrapper {
  width: 15rem;
  background-color:var(--app-background-color);
  padding: 1rem;
  position:absolute;
  right: 0%;
  top: 5rem;
  z-index:1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--div-background-color);

}
/* Home css starts here */
.home-main-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
 
}
.home-car-card {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items:center;
  gap: 0.5rem;
}
.cat-description {
  font-size: 1.2rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .home-main-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .home-car-card { 
    width: 48%;
  }
  .hero-img  {
    height:30rem;
  }
}
@media only screen and (min-width: 1120px) {
  .home-main-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .home-car-card { 
    width: 30%;
  }
}
/* Home css ends here */
/* Auth page css starts here */
.login-page-wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content:center;
  margin-top: -5%;
}
.login-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  padding: 2rem;
  border: 1px solid var(--div-background-color);
  background-color:var(--white-color);
  color:var(--black-color)

}
.login-input {
  width: 100%;
}
.login-header {
  text-align: center;

}
.login-forgotPassword {
  color: var(--primary-color-main);
}
.rememberMe-wrapper {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 0 0.5rem;
}
.remember-checkbox {
  margin: 0 0.5rem 0 0;
}
.create-account {
  text-decoration: underline;
}
.password-wrapper {
  position: relative;
}
.show-password {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color:transparent;
  border: 0;
  cursor: pointer;
}
.input-label {
  position: relative;
}
.input-name {
  padding: 1rem;
}
.input-placeholder {
  position: absolute;
  top:1rem;
  left:1rem;
  padding: 0.2rem;
  transition: 0.2s;
  background-color:var(--white-color);
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  pointer-events: none;
  opacity: 1;
  color:black;
}
.input-name:focus + .input-placeholder, .input-name:not(:placeholder-shown) + .input-placeholder {
  opacity: 1;
  transform: scale(1) translateY(-110%) translateX(0%);
}
@media only screen and (min-width: 570px){
  .login-card-wrapper {
    width: 70%;
  }
}
@media only screen and (min-width: 740px){
.login-card-wrapper {
  width: 50%;
}
}
@media only screen and (min-width: 1050px){
.login-card-wrapper {
  width: 40%;
}
}
/* Auth page css ends here */
/* video listing page css starts here */
.video-listing-wrapper {
  width: 80%;
  margin: auto;
 display:flex;
 flex-direction: column;
 gap: 1rem;
}
.video-page-wrapper {
  display: flex;
  gap: 1rem;
  height: 100vh;
}
.video-card-wrapper {
  width: 100%;
  text-align: center;
  /* border: 1px solid var(--div-background-color); */
 position: relative;
}
.watch-later-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size:1.5rem;
}
.selected {
  color: var(--primary-color-main);
}
.like-watchlater-wrapper {
  display: flex;
  justify-content:space-between;
}
.btn-text:hover {
  background-color:transparent
}
.video-chip-wrapper {
    display: flex;
    flex-direction:column;
    gap: 1rem;
}
.chip-wrapper {
  display: flex;
  gap: 1rem;
}
.chip-btn {
  border-radius: 1rem;
  background-color: var(--app-background-color);
  color: var(--white-color);
  border: 1px solid var(--div-background-color);

}
.chip-selected {
  background-color: var(--white-color);
  color:  var(--app-background-color);
}
.skelton-img {
  /* opacity: 0.7; */
  animation: skelton-loading 1s linear infinite alternate;
}

@keyframes skelton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
   background-color: hsl(200, 20%, 95%);
 }
}

@media screen and (min-width: 768px) {
  
 .video-listing-wrapper {
   width: 100%;
   margin:  0;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   overflow-y: scroll;

 }
 .video-listing-wrapper::-webkit-scrollbar{
   display: none;
 }
 .video-card-wrapper {
   width: 45%; 
 }
  
}
@media screen and (min-width: 978px) {
 .video-listing-wrapper {
   width: 100%;
   margin:  0;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 0 5rem 0;

 }.video-card-wrapper {
   width: 30%;
   
 }
  
}
/* Video listing page css ends here */
/* Single page css starts here */
.single-video-wrapper {
  display:flex;
  flex-direction: column;
  gap:1rem;
  width: 99%;
  margin: auto;
}
.snackbar {
  position:fixed;
  bottom: 5%;
  left:0;
}
.save-to-card {
  background-color: white;
  position: fixed;
  width: 10rem;
  min-height:10rem ;
  top: 40%;
  left: 40%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
  z-index: 1;
  border: 1px solid var(--div-background-color);

}
.playlist-save-btn {
  color: var(--black-color);
}
.save-to-item {
  display: flex;
  gap:0.3rem;
  padding:0.5rem 0;
  border-bottom: 1px solid grey;
  color: var(--black-color);
}
.related-title {
  border-bottom: 1px solid grey;
  padding: 0 0 1rem 0;
}
.related-videos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.single-video-card {
  width: 100%;
  padding: 0.3rem;
}
.video-action-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid grey;
  align-items: baseline;
}
.outlined {
  border: 1px solid #333;
}
.description-btn {
  margin:1rem 0;
}
@media screen and (min-width: 768px){
  .single-video-wrapper {
    flex-direction: row;
  }
  .playsection-wrapper {
    width: 70%;
    padding:1rem;
  }
  .relative-section-wrapper {
    width: 30%;
  }
  .singlepage-sidebar {
    width: 2rem;
    padding: 8rem 0 0 0;
    position: fixed;
    top: 0;
    border: 0;
  }
}
/* single page css ends here */
/* play list css starts here */
.playlist-card-wrapper {
  border: 1px solid var(--div-background-color);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.playlist-main-wrapper {
  width: 90%;
  margin:auto;
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.playlist-icon {
  padding:0 0.3rem 0 0;
}
.myplaylist-create-wrapper {
  display:flex;
  justify-content: space-between;
}
.playlist-card-header {
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.playlist-cards-wrapper {
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
}
.open-playlistBtn {
  align-self: center;
}
.single-play-card {
  width: 90%;
  margin: auto;
  display:flex;
  flex-direction: column;
  gap: 1rem;

}
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0.5rem;
}
.empty-single-playlist {
  height:80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 1rem;
  
}
@media only screen and (min-width: 768px) {
  .playlist-main-wrapperW-sidebar {
    display: flex;

  }
  .playlist-main-wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .single-play-card {
    flex-direction:row;
    margin: 0 auto;
    flex-wrap: wrap;
    height:max-content
  }
  .playlist-video-card {
    width: 30%;
  }
  .single-card-wrapper {
    display: flex;
    gap: 1rem;
  }
}
/* History page css starts here */
.clear-history-wrapper {
  text-align: end;
}
.history-cards-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.history-remove-btn {
  padding: 0;
}
.delete-video-icon {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
 
  .history-video-card {
    margin: 0;
  }
}
